{{ partial "header.html" . }}
<section>
  {{if not .IsHome }}
  <h2>{{ .Title }}</h2>
  {{end}} {{ .Content }} {{ range .Data.Pages }}
  <div class="entry project">
    <a
      href="{{if .Params.GitURL }}{{ .Params.GitURL }}
            {{else}}{{.Permalink}}{{end}}"
      >{{ .Title }}</a
    >
    &middot; {{if .Params.Language}}{{.Params.Language}} &middot; {{end}} {{
    .Date.Format "2006" }}
    <div class="meta">
      {{if .Params.Description}}
      <p>{{.Params.Description}}</p>
      {{end}}
    </div>
  </div>
  {{end}}
</section>
{{ partial "footer.html" . }}
