{{ partial "header.html" . }}
<aside>
  <header>
    <h2>Table of Contents</h2>
  </header>
  {{.TableOfContents}}
</aside>
<section>
  <p><a href="/projects/">&lt; Go back</a></p>
  <h2>{{ .Title }}</h2>
  <div class="meta">
    {{if .Params.Site }}
    <p>
      Project URL:
      <a href="{{.Params.Site}}" rel="noreferrer">{{.Params.Site}}</a>
    </p>
    {{end}} {{if .Params.Proprietary}}
    <p><b>Notice:</b> The source of this project is not publicly available.</p>
    {{end}}
  </div>
  {{.Content}}
</section>
{{ partial "footer.html" . }}
