---
interface Props {
  gitURL?: string;
  goDoc?: boolean;
}

const { gitURL, goDoc } = Astro.props;
---

<p>
  {
    goDoc && (
      <a href={`https://pkg.go.dev/github.com/humaidq/${gitURL}?tab=doc`}>
        <img src="/pkg.go.dev-reference-blue.svg" alt="pkg.go.dev reference" />
      </a>
    )
  }
</p>
