---
interface Props {
  url: string;
}

const { url } = Astro.props;
---

<p>
  Clone with HTTPS: <a
    href={`https://github.com/humaidq/${url}`}
    rel="noreferrer">https://github.com/humaidq/{url}</a
  >
</p>
