/* Page style */
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", "Lucidia Grande", "Segoe UI", "Roboto", sans-serif;
  font-size: 14pt;
  line-height: 1.4;
  background-color: #fff;
  max-width: 1250px;
  margin: 0 auto;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin: 10px 0;
  line-height: 1;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 30px;
}

a {
 color: #052ba0;
}

.entry {
  display: block;
  width: 100%;
  padding: 5px 15px;
}

.entry a {
  color: #0b47bf;
  font-weight: bold;
  text-decoration: none;
}

.meta a {
  padding: 0;
}

.meta p {
  margin: 0 0 0 25px;
}

.content {
  padding: 20px 30px;
}

.footer {
  padding: 1rem;
  text-align: center;
  color: #2f2f2f;
}

.und {
  text-decoration: underline;
}

.footer p {
  margin: 5px;
}

pre {
  border-radius: 10px;
}

code {
  border-radius: 4px;
}

a:focus {
  outline: 2.5pt solid #ffbf47;
}

/* Images and Gallery */
img {
  max-width: 100%;
  height: auto;
}

.me {
  width: 200px;
  float:right;
  border-radius: 20px;
  margin: 20px;
}

.gal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.gal img {
  max-width: 95%;
  max-height: 220px;
}

/* Code blocks */
pre code {
  display: inline-block;
  padding: 3.5px;
  font-size: .8em;
  border-radius: 2px;
  white-space: pre-wrap;
}

code {
  font-family: "SFMono-Regular","Menlo","Consolas","Liberation Mono","Courier New",monospace;
  font-size: .9em;
}

aside {
  border: 2px solid #777;
  background-color: #eee;
  padding: .5em 2.5em;
  max-width: 400px;
  float: right;
  margin: 10px 0;
}

aside ul {
  padding-left: 1em;
}

/* Responsiveness */
@media only screen and (max-width: 780px) {
  .gal {
    grid-template-columns: none;
  }
  .gal img {
    display: block;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  body {
    font-size: 1.1em;
  }
  .me {
    width: 100px;
  }
  aside {
    float: none;
  }
}

@media only screen and (min-width: 960px) {
  .blog {
    padding: 0 10%;
  }
}

/* Navigation bar */
.nav {
  overflow: hidden;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid #4f4f4f;
}

.nav-item {
  text-decoration: none;
  font-weight: bold;
  padding: .5em;
  margin: 3px;
  font-size: 1.4rem;
}

.nav-item:hover {
  text-decoration: underline;
  color: #000;
}

.nav-item:focus {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #202125;
    color: #cfcfcf;
  }
  h1, h2, h3, h4, h5, h6, .footer {
    color: #ccc;
  }
  a, .entry a {
    color: #6b96db;
  }
  a:hover, .nav-item:hover {
    color: #ccc;
  }
  aside {
    border: 2px solid #000;
    background-color: #222;
  }
  code {
    background-color: #272822;
  }
}

.nav-item:focus {
  outline: 0;
  background: #ffbf47;
  color: #000000;
}
