{{ partial "header.html" . }}
<section>
{{if not .IsHome }}<h2>{{ .Title }}</h2>{{end}}
{{ .Content }}
{{if not .IsHome }}<ul>
	{{ range .Data.Pages }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
</ul>{{ end }}
{{if .IsHome}}
<h2>Links</h2>
  <img src="/avatar.webp" class="me" width="100px" height="100px"
     alt="A picture of Humaid smiling, not while looking at the camera. Possibly in a discussion with people off-screen." />
  <dl>
    <dt>Email</dt>
    <dd><a rel="me" href="mailto:public@huma.id">public@huma.id</a></dd>
    <dt>Sourcehut</dt>
    <dd><a rel="noreferrer noopener me" href="https://sr.ht/~humaid">~humaid</a></dd>
    <dt>PGP key</dt>
    <dd><a rel="pgpkey authn" href="/contact/pgp.txt">C4350A2D</a>
  </dl>
  <p><a href="/links/">More links...</a></p>
{{end}}
</section>
{{ partial "footer.html" . }}
