{{ partial "header.html" . }}
{{if not .Params.nosidebar}}{{ partial "aside.html" . }}{{end}}
<section>
{{if not .IsHome }}<h2>{{ .Title }}</h2>{{end}}
{{ .Content }}
{{if not .IsHome }}<ul>
	{{ range .Data.Pages }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
</ul>{{ end }}
{{if .IsHome}}
  <div class="index">
    <div class="container">
      <h2>Blog Posts <a href="{{.Site.BaseURL}}blog/index.xml">(rss)</a></h2>
      {{ range (where .Site.RegularPages "Section" "blog")}}
        <div class="entry">
          <span class="date">{{ .Date.Format "January 2, 2006" }}</span>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </div>
      {{end}}
    </div>

    <div class="container">
      <h2>Projects</h2>
      {{ range (where .Site.RegularPages "Section" "projects")}}
        <div class="entry project"><a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ if .Params.LatestVersion }} &middot; <small>({{.Params.LatestVersion}})</small>{{end}}
        {{if .Params.Language}} &middot; <span class="lang">{{.Params.Language}}</span>{{end}}
        <div class="meta">
        {{if .Params.Description}}<p>{{.Params.Description}}</p>{{end}}
        </div></div>
      {{end}}
    </div>
  </div>
{{end}}
</section>
{{ partial "footer.html" . }}
