{{ partial "header.html" . }}
<section>
{{if not .IsHome }}<h2>{{ .Title }}</h2>{{end}}
{{ .Content }}
{{if not .IsHome }}<ul>
	{{ range .Data.Pages }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
</ul>{{ end }}
{{if .IsHome}}
<h2>Links</h2>
  {{with resources.Get "/avatar.jpg"}}
  {{with .Process "webp resize 200x"}}
    <img src="{{.RelPermalink}}" class="me" width="100px" height="100px"
      alt="{{$.Site.Params.ImageAlt}}" />
  {{end}}{{end}}
  <dl>
    <dt>Email</dt>
    <dd><a rel="me" href="mailto:public@huma.id">public@huma.id</a></dd>
    <dt>Mastodon</dt>
    <dd><a rel="noreferrer noopener me" target="_blank"
        href="https://masto.ai/@humaid">@humaid@masto.ai</a></dd>
    <dt>LinkedIn</dt>
    <dd><a rel="noreferrer noopener me" target="_blank"
        href="https://www.linkedin.com/in/humaidq/">linkedin.com/in/humaidq</a></dd>
  </dl>
{{end}}
</section>
<style>
.me {
  display: block;
  float: right;
  width: 148px;
  margin: 0 auto;
  border-radius: 20px;
}
</style>
{{ partial "footer.html" . }}
