---
import DefaultPage from "../layouts/DefaultPage.astro";
---

<DefaultPage title="404: Page not found">
  <h2>404: Page not found</h2>
  <p>
    The page that you are visiting does not exist. Please contact me if you feel
    like this is an error, or a (broken) link on this site took you here.
  </p>
  <p><a href="/">Back to home</a></p>
</DefaultPage>
