---
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import DefaultPage from "../layouts/DefaultPage.astro";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<DefaultPage title="Blog" description="My personal blog">
  <h2>Blog</h2>
  {
    posts.map((post) => (
      <>
        <div class="entry">
          <span class="date">
            <FormattedDate date={post.data.pubDate} />
          </span>
          <a href={`/${post.slug}`} data-astro-prefetch>
            {post.data.title}
          </a>
        </div>
      </>
    ))
  }
</DefaultPage>
