---
import DefaultPage from "../layouts/DefaultPage.astro";
---

<DefaultPage title="Now" description="What I'm doing right now...">
  <h2>What I'm doing right now...</h2>
  <p>
    <i>
      This is a <a href="https://nownownow.com/about">now page</a>, which is
      where I write a summary of what I am doing right now.
    </i>
  </p>

  <p>
    <b>Last updated:</b> 25th September 2025, from Abu Dhabi, United Arab Emirates.
  </p>
  
  <p>
    I am currently a PhD student (year 1) in Computer Science, at 
    <a href="https://mbzuai.ac.ae">Mohamed Bin Zayed University of Artificial
    Intelligence</a>.
  </p>

  <p>
    I have been working at <a href="https://tii.ae"
      >Technology Innovation Institute</a
    > since August of 2021, where I'm currently involved on the development of the
    <a href="https://github.com/tiiuae/ghaf">Ghaf Framework</a>.
  </p>

  <p>
    I also spend my personal time learning more about technology, computer
    science, and more recently radio. You might find me operating FT8 on the
    amateur radio bands.
  </p>
</DefaultPage>
