/* Page style */
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", "San Fransisco", -apple-system, "BlinkMacSystemFont", "Source Sans Pro", "Roboto", sans-serif;
  font-size: 14pt;
  line-height: 1.4;
  background-color: #fff; /* for dillo */
  max-width: 980px;
  margin: 0 auto;
}

section {
  width: 100%;
}

.container {
  margin: 15px;
}

.index {
  display: flex;
  flex-direction: row;
}

.index aside {
  width: 40%;
}

.me {
  display: block;
  float: right;
  width: 148px;
  margin: 0 auto;
  border-radius: 20px;
}

.lang {
  font-weight: 600;
  font-size: 12pt;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin: 10px 0;
  line-height: 1;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  margin: 15px 0;
  padding: 0 30px;
}

.c {
  text-align: center;
}

.entry {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.entry a {
  display: block;
}

.project a {
  display: inline;
}

.index .container {
  width: 50%;
}

.meta a {
  padding: 0;
}

.meta p {
  margin: 0 0 0 25px;
}

main {
  padding: 20px 30px;
}

footer {
  padding: 1rem;
  text-align: center;
  color: #2f2f2f;
}

a:focus {
  outline: 2.5pt solid #ffbf47;
}

/* Images and Gallery */
img {
  max-width: 100%;
  height: auto;
}

.gal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.gal img {
  max-width: 95%;
  max-height: 220px;
}

/* Code blocks */
pre {
  font-family: "SFMono-Regular","Menlo","Consolas","Liberation Mono","Courier New",monospace;
  background-color: #eee;
  padding: 0.25rem 1rem;
  margin: 0 -1rem;
  overflow-x: auto;
  font-size: 11pt;
}

code {
  background-color: #eee;
}

/* Responsiveness */
@media only screen and (max-width: 780px) {
  .gal {
    grid-template-columns: none;
  }
  .gal img {
    display: block;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  body {
    font-size: 1.1em;
  }
  .me {
    width: 100px;
  }
  .toc {
    float: none;
    max-width: 80%;
  }
  .index {
    display: block;
  }
  .index .container, .index aside {
    width: 100%;
  }
}

@media only screen and (min-width: 960px) {
  article {
    padding: 0 10%;
  }
}
