/* Page style */
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", "San Fransisco", -apple-system, "BlinkMacSystemFont", "Source Sans Pro", "Roboto", sans-serif;
  font-size: 14pt;
  line-height: 1.4;
  background: url("/bg.webp") repeat scroll 0% 0%, #edeee6 none repeat scroll 0% 0%;
  max-width: 980px;
  margin: 0 auto;
}

main {
  background-color: #fefefe;
}

a {
  color: #134dae
}

.nav {
  background-color: #134dae;
  margin: 0;
  padding: 8px 0;
}

.nav a {
  margin: 0;
  padding: 8px 0;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.nav a:focus {
  color: #000;
  background-color: #ffbf47;
}

.nav, .nav a {
  color: #fefefe;
}

section {
  width: 100%;
}

.index {
  display: flex;
  flex-direction: row;
}

.index aside {
  width: 40%;
}

.me {
  display: block;
  float: right;
  width: 148px;
  margin: 0 auto;
  border-radius: 20px;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin: 10px 0;
  line-height: 1;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  margin: 15px 0;
  padding: 0 30px;
}

.c {
  text-align: center;
}

.entry {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.entry a {
  display: block;
}

.project a {
  display: inline;
}

.meta a {
  padding: 0;
}

.meta p {
  margin: 5px 0 0 25px;
}

main {
  padding: 20px 30px;
}

footer {
  padding: 1rem;
  text-align: center;
  background-color: #000;
  color: #cccccc;
}

footer a {
  color: #eeeeee;
}

footer p {
  margin: 0 0 0 2px;
}

a:focus {
  outline: 2.5pt solid #ffbf47;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Code blocks */
pre {
  font-family: "SFMono-Regular","Menlo","Consolas","Liberation Mono","Courier New",monospace;
  background-color: #130e24;
  color: #e5e5e5;
  padding: 0.25rem 1rem;
  margin: 0 -1rem;
  overflow-x: auto;
  font-size: 11pt;
  border-radius: 3px;
}

code {
  background-color: #130e24;
  color: #e5e5e5;
  border-radius: 3px;
  font-size: 12pt;
}

/* Responsiveness */
@media only screen and (max-width: 780px) {
  body {
    font-size: 1.1em;
  }
  .me {
    width: 100px;
  }
  .toc {
    float: none;
    max-width: 80%;
  }
  .index {
    display: block;
  }
  .index .container, .index aside {
    width: 100%;
  }
}

@media only screen and (min-width: 960px) {
  article {
    padding: 0 10%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: url("/bg-dark.webp") repeat scroll 0% 0%, #252525 none repeat scroll 0% 0%;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #eee;
  }
  main {
    background-color: #303030 !important;
  }
  a {
    color: #acbbf9;
  }
  body {
    color: #eee;
  }
}
