.webring {
 margin-top:3rem
}
.webring .articles {
 display:flex;
 flex-wrap:wrap;
 margin:-.5rem
}
.webring .title {
 font-size: 1.5rem;
 margin:0
}
.webring .article {
 flex:1 1 0;
 display:flex;
 flex-direction:column;
 margin:.5rem;
 padding:.5rem;
 background:#eee;
 min-width:10rem;
 border-radius:6px
}
.webring .summary {
 font-size:.8rem;
 flex:1 1 0
}
.webring .attribution {
 text-align:right;
 font-size:.8rem;
 color:#555
}
