<footer>
  <p>
    The content of this site is CC BY-SA 4.0. The code of this site is BSD
    2-Clause.
  </p>
  <p>
    <a href="https://github.com/humaidq/huma.id/blob/master/LICENSE"
      >View license file</a
    >
  </p>
</footer>
