---
import { SITE_TITLE } from "../consts";
---

<header>
  <h1 class="title">{SITE_TITLE}</h1>
  <nav>
    <p class="c nav">
      <a rel="prefetch" href="/">Home</a>
      &middot; <a rel="prefetch" href="/blog/">Blog</a>
      &middot; <a rel="prefetch" href="/projects/">Projects</a>
      &middot; <a rel="prefetch" href="/recipes/">Recipes</a>
      &middot; <a rel="prefetch" href="/now/">Now</a>
    </p>
  </nav>
</header>
