<aside>
  <img
  src="/avatar.jpg" class="me" alt="A picture of Humaid smiling, not
     while looking at the camera. Possibly in a discussion with people
     off-screen." />
  <p class="c"><a href="/">Home</a> &middot; <a href="/gallery">Gallery</a> &middot; <a href="/now">Now</a></p>

  <dl>
    <dt>Email</dt>
    <dd><a href="mailto:public@humaidq.ae">public@humaidq.ae</a></dd>
    <dt>Sourcehut</dt>
    <dd><a rel="noreferrer noopener" href="https://git.sr.ht/~humaid">~humaid</a></dd>
    <dt>PGP key</dt>
    <dd><a href="/contact/pgp.txt">C4350A2D</a>
  </dl>
</aside>
