<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ $style := resources.Get "main.css"}}{{ $syntax := resources.Get "syntax.css"}}
  {{ $css := slice $style $syntax | resources.Concat "bundle.css" | resources.Minify }}
  <link rel="stylesheet" href="{{ $css.Permalink }}">
  <title>{{if .Title}}{{ .Title }} - {{end}}Humaid AlQassimi</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
  <meta property="og:image" content="{{.Site.BaseURL}}avatar.webp">
  <link rel="icon" type="image/xicon" href="/favicon.ico">
</head>
<header>
  <h1 class="title">Humaid AlQassimi</h1>
  <nav>
    <p class="c nav"><a rel="prefetch" href="/">Home</a>
    &middot; <a rel="prefetch" href="/blog/">Blog</a>
    &middot; <a rel="prefetch" href="/projects/">Projects</a>
    &middot; <a rel="prefetch" href="/recipes/">Recipes</a>
    &middot; <a rel="prefetch" href="/now/">Now</a></p>
  </nav>
</header>
<main class="index">
