<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{ $style := resources.Get "main.css"}}{{ $syntax := resources.Get "syntax.css"}}
  {{ $css := slice $style $syntax | resources.Concat "bundle.css" | resources.Minify }}
  <link rel="stylesheet" href="{{ $css.Permalink }}" />
  <title>{{if .Title}}{{ .Title }} - {{end}}Humaid Alqasimi</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
  {{ if .Params.Image }}
  <meta property="og:image" content="{{.Site.BaseURL}}{{.Params.Image}}" />
  <meta property="og:image:alt" content="{{.Params.ImageAlt}}" />
  {{else}}
  <meta property="og:image" content="{{.Site.BaseURL}}{{.Site.Params.Image}}" />
  <meta property="og:image:alt" content="{{.Site.Params.ImageAlt}}" />
  {{end}}
  <link rel="icon" type="image/webp" href="/favicon.webp" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:site_name" content="Humaid Alqasimi's Personal Website" />
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#edeee6">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#252525">

  <meta name="theme-color" content="#134dae" />
</head>
<header>
  <h1 class="title">Humaid Alqasimi</h1>
  <nav>
    <p class="c nav"><a rel="prefetch" href="/">Home</a>
    &middot; <a rel="prefetch" href="/blog/">Blog</a>
    &middot; <a rel="prefetch" href="/projects/">Projects</a>
    &middot; <a rel="prefetch" href="/recipes/">Recipes</a>
    &middot; <a rel="prefetch" href="/now/">Now</a></p>
  </nav>
</header>
<main class="index">
